$headerHeight: 51px;

// TODO подумать над вынесением высоты шапки в константу и её динамическое изменение, чтобы можно было отступать главному контенту

@include media1440() {
	$headerHeight: 43px;
}
@include media360() {
	$headerHeight: 41px;
}
