@import '@styles/mixins.scss';

.select_flat {
	$select: &;
	&__control {
		background-color: #2f80ed;
		border-radius: 100px;
		padding: 18px 26px;
		gap: 12px;
		min-width: 240px;

		&:hover {
			cursor: pointer;

			#{$select}_text > * {
				transform: translate(0, -18px);
			}
		}

		&--is-focused {
			background-color: #2576e0;

			& #{$select}_text > * {
				transform: translate(0, -18px);
			}
		}

		@include media1440() {
			padding: 15px 20px;
			gap: 10px;
		}

		@include media1024() {
			padding: 15px 18px;
			min-width: 188px;
			gap: 3px;
			line-height: 18px;

			&--is-focused {
				background-color: #2576e0;

				& #{$select}_text > * {
					transform: translate(0, -21px);
				}
			}
		}
	}

	&__single-value,
	&__placeholder {
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		color: white;
		letter-spacing: 0.07em;
		text-align: center;

		white-space: nowrap;
		text-overflow: ellipsis;

		@include media1440() {
			font-size: 13px;
		}

		@include media1024() {
			font-size: 12px;
		}
	}

	&__indicator {
		color: white;
	}

	&__menu {
		background-color: #202a2e;
		color: white;
		animation: scaleIn 0.3s ease-in-out;

		&-list {
			background-color: white;
			box-shadow: 0 7px 13px -3px rgba(0, 0, 0, 0.25);

			& > div {
				padding: 10px 5px;
			}
		}
	}

	&__option {
		color: black;

		&:hover {
			cursor: pointer;
		}

		&--is-focused {
			color: #fff;
			background-color: #2f80ed;
		}
	}

	&_text {
		display: flex;
		flex-direction: column;
		gap: 3px;
		height: 17px;
		overflow: hidden;

		& > * {
			transition: transform 0.3s ease 0s;
		}
	}
}

@keyframes scaleIn {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
