.burger {
	display: flex;
	gap: 15px;
	position: relative;

	&__text {
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		margin-left: 53px;
		padding-right: 10px;
	}

	&__icon {
		&,
		&::before,
		&::after {
			content: '';
			width: 38px;
			height: 2px;
			background-color: #2f80ed;
			position: absolute;
		}

		&::before {
			top: -6px;
			left: 0;
		}

		&::after {
			bottom: -6px;
			left: 0;
		}

		& {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__content {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		min-width: max-content;
		max-width: 200px;
		padding: 10px;
		background-color: white;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);

		display: flex;
		flex-direction: column;
		gap: 6px;

		opacity: 0;
		pointer-events: none;
		border-radius: 0 0 7px 7px;
		transform: translate(0, -5px);
		transition: opacity 0.2s ease 0s, transform 0.8s ease 0s;

		&_active {
			transform: translate(0, 0px);
			opacity: 1;
			pointer-events: all;
		}
	}
}
