@import '@styles/mixins.scss';

.burger {
	display: flex;
	gap: 15px;
	position: relative;
	height: 100%;

	&__button {
		padding: 17px 10px 17px 0px;

		@include media1024() {
			padding: 17px 32px 17px 0px;
		}
	}

	&__text {
		font-weight: 600;
		font-size: 15px;
		text-transform: uppercase;
		margin-left: 53px;

		@include media1440() {
			margin-left: 44px;
			font-size: 13px;
		}
		@include media1024() {
			display: none;
		}
	}

	$burger: &;

	&__icon {
		&,
		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 38px;
			height: 2px;
			background-color: #2f80ed;
			transition: all 0.3s ease 0s;

			@include media1440() {
				width: 32px;
			}
			@include media360() {
				width: 29px;
				background-color: black;
			}
		}

		&::before {
			top: -6px;
			left: 0;
		}

		&::after {
			bottom: -6px;
			left: 0;
		}

		& {
			top: 50%;
			transform: translateY(-50%);
		}

		#{$burger}__button:hover &::before,
		#{$burger}__button:focus &::before {
			transform: translate(0, -2px);
		}

		#{$burger}__button:hover &::after,
		#{$burger}__button:focus &::after {
			transform: translate(0, 2px);
		}
	}

	&__content {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 90;
		min-width: max-content;
		max-width: 200px;
		padding: 10px;
		background-color: white;
		box-shadow: 0 7px 13px -3px rgba(0, 0, 0, 0.25);

		display: flex;
		flex-direction: column;
		gap: 6px;

		opacity: 0;
		pointer-events: none;
		border-radius: 0 0 7px 7px;
		transform: translate(0, 5px);
		transition: opacity 0.2s ease 0s, transform 0.8s ease 0s;

		&_active {
			transform: translate(0, 0px);
			opacity: 1;
			pointer-events: all;
		}
	}
}
