@import '../../../../shared/styles/mixins.scss';

.header__call_button {
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	color: #2f80ed;
	padding: 18px 0 18px 15px;

	&:hover &_text > *,
	&:focus &_text > * {
		transform: translate(0, -21px);
	}

	&_text {
		display: flex;
		flex-direction: column;
		gap: 3px;
		height: 17px;
		overflow: hidden;

		& > * {
			transition: transform 0.3s ease 0s;
		}
	}

	@include media1440() {
		font-size: 13px;
	}

	@include media1024() {
		font-size: 12px;
	}
}
