@import '@styles/mixins.scss';

.header {
	background-color: white;
	position: sticky;
	top: 0;
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
	z-index: 80;

	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 131px;

	&__left {
		flex-basis: 390px;

		display: flex;
		gap: 33px;
		align-items: center;
	}

	&__center {
		&:hover > * {
			transition: transform 0.3s ease-out 0s;
			transform: scale(1.02);
		}
	}

	&__phone_circle {
		display: none;
	}

	&__select_left,
	&__select_right {
		width: 100%;
	}

	&__select_right {
		display: none;
	}

	$header: &;

	&__right {
		display: flex;
		gap: 15px;
		align-items: center;
		max-width: 340px;

		#{$header}__phone {
			font-weight: 600;
			font-size: 17px;
			color: #111;
			transition: all 0.3s ease 0s;
			padding: 18px 15px;

			&:hover,
			&:focus {
				color: gray;
			}
		}
	}

	@include media1440() {
		min-height: 100px;

		#{$header}__center img {
			width: 156px;
			height: 25px;
		}

		&__left {
			flex-basis: 330px;
		}

		#{$header}__right {
			gap: 10px;
		}

		#{$header}__phone {
			font-size: 14px;
		}
	}

	@include media1024() {
		min-height: 103px;
		gap: 15px;

		&__left {
			gap: 15px;
			flex-basis: 255px;
		}

		#{$header}__phone {
			font-size: 13px;
		}
	}

	@include media768() {
		min-height: 123px;

		#{$header}__right {
			display: none;
		}

		#{$header}__left {
			flex-basis: 32px;
		}

		&__phone_circle {
			display: block;
		}

		&__select_left {
			display: none;
		}

		&__select_right {
			display: block;
			flex-basis: 190px;
		}
	}

	@media (max-width: 640px) {
		&__phone_circle {
			order: 1;
		}

		&__select_right {
			display: none;
		}
	}

	@include media360() {
		min-height: 81px;

		#{$header}__center img {
			width: 131px;
			height: 21px;
		}
	}
}
